.transaction-history {
    table-layout: fixed;
    border-collapse: collapse;
    margin-top: 30px;
    width: 300px;
    border: 1px solid var(--grey-color);
    text-align: center;
}
.transaction-history thead {
    background-color: pink;
}
th, td {
   padding: 10px; 
     border: 1px solid var(--grey-color);
}
tr:nth-child(2n) {
    background-color: var(--grey-color);
}
